@import "../index.css"; /* Import global styles */

.user-pie-chart {
  width: 258px;
  height: 263px;
  flex-shrink: 0;
  background: rgba(251, 251, 251, 1);
  position: absolute;
  top: 592px;
  left: 576px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-pie-chart .subtitle {
  width: 60%;
  position: absolute;
  top: 10px;
  color: #20253a;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px; /* 160% */
}

/* Pie chart */
.user-pie-chart .custom-label {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 10000;
  color: #20253a;
}

.custom-score {
  font-size: 26px;
  color: #282d30;
  font-family: "Roboto";
  font-weight: 700;
  padding-bottom: 20px;
}

/* Styles for "de votre objectif" */
.text-span {
  color: rgba(116, 121, 140, 1);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  position: absolute;
  max-width: 30%;
  text-align: center;
  line-height: 26px;
  left: 35%;
  top: 78%;
}

.user-pie-chart .subtitle {
  color: #20253a;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 160% */
  width: 60%;
  position: absolute;
  top: 10px;
}
