@import "../index.css"; /* Import global styles */

.user-menu-horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #020203;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: auto;
  gap: 149px;
  width: 100%;
}

.logo {
  width: 177.997px;
  height: 60.934px;
  flex-shrink: 0;
  margin-left: 29px;
}

.nav-bar {
  display: flex;
  align-items: center;
  flex: 1;
}

.nav-item-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  flex: 1;
}

.nav-item {
  display: flex;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  font-size: 24px;
  font-weight: 100;
}

.nav-item:last-child {
  margin-right: 20px;
}
